{
    "reddit": {
        "auth": {
            "client_id": "",
            "client_secret": "",
            "user_agent": "",
            "username": "",
            "password": ""
        },
        "subreddits": {
            "subreddit": "",
            "testing_subreddit": ""
        }
    }
}